<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/postgres</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">postgres</property>
    <mapping resource="hibernate/pojo/TblTransporter.hbm.xml"/>
    <mapping resource="hibernate/pojo/TblPaths.hbm.xml"/>
    <mapping resource="hibernate/pojo/TblMapping.hbm.xml"/>
    <mapping resource="hibernate/pojo/TblLinks.hbm.xml"/>
    <mapping resource="hibernate/pojo/TblDo.hbm.xml"/>
    <mapping resource="hibernate/pojo/TblEpos.hbm.xml"/>
    <mapping resource="hibernate/pojo/TblLivePath.hbm.xml"/>
    <mapping resource="hibernate/pojo/TblPlant.hbm.xml"/>
    <mapping resource="hibernate/pojo/TblProcess.hbm.xml"/>
    <mapping resource="hibernate/pojo/TblUsers.hbm.xml"/>
    <mapping resource="hibernate/pojo/TblVehicle.hbm.xml"/>
    <mapping resource="hibernate/pojo/TblExceptions.hbm.xml"/>
    <mapping resource="hibernate/pojo/TblDriver.hbm.xml"/>
    <mapping resource="hibernate/pojo/TblVehicleFlight.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
